<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
            crossorigin="anonymous"></script>
    <title>Training Preview</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript">
      $(function() {
        $('button#save').click(function() {
          $.post("{{ url_for('save') }}");
        });

        $('button#exit').click(function() {
          $.post("{{ url_for('exit') }}");
        });

        $('button#update').click(function() {
          $.post("{{ url_for('update') }}");
        });

        $('button#next_preview').click(function() {
          $.post("{{ url_for('next_preview') }}");
        });

        $('button#change_history_range').click(function() {
          $.post("{{ url_for('change_history_range') }}");
        });

        const socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('preview', function(msg) {
          console.log(new Date(), '- new preview -', msg);
          $('img#preview').attr("src", "{{ url_for('preview_image') }}?q=" + new Date().getTime());
        });

        socket.on('loss', function(loss_string) {
          console.log(new Date(), '- loss string -', loss_string);
          $('h2#loss').html(loss_string);
        });
      });
    </script>
</head>
<body>
<h1>Training Preview</h1>
<h2 id="loss"></h2>
<div>
    <button class='btn btn-default' id='save'>Save</button>
    <button class='btn btn-default' id='exit'>Exit</button>
    <button class='btn btn-default' id='update'>Update</button>
    <button class='btn btn-default' id='next_preview'>Next preview</button>
    <button class='btn btn-default' id='change_history_range'>Change History Range</button>
</div>
<img id='preview' src="{{ url_for('preview_image') }}">
</body>
</html>
