<head>
<!--    <link rel="stylesheet"-->
<!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--          crossorigin="anonymous">-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <title>Flask Server Demonstration</title>
    <script type="text/javascript">
        $(function() {
          $('button#save').click(function() {
            $.post('/save');
          });

          $('button#exit').click(function() {
            $.post('/exit');
          });

          // $('button#update').click(function() {
          //   $.post('/update');
          // });
          //
          // $('button#next_preview').click(function() {
          //   $.post('/next_preview');
          // });
          //
          // $('button#change_history_range').click(function() {
          //   $.post('/change_history_range');
          // });
        });
    </script>
</head>
<body>
<h1>Flask Server Demonstration</h1>
<form action="/" method="post">
    <button class='btn btn-default' id='save'>Save</button>
    <button class='btn btn-default' id='exit'>Exit</button>
    <button class='btn btn-default' id='update' name="update" value="update">Update</button>
    <button class='btn btn-default' id='next_preview' name="next_preview" value="next_preview">Next preview</button>
    <button class='btn btn-default' id='change_history_range' name="change_history_range" value="change_history_range">Change History Range</button>
</form>
<img src="{{ url_for('preview_image') }}">
</body>
</html>
